@import '~tachyons/css/tachyons.css';
@import '../../assets/fonts/7bo7rKNcVt7ZcPq/SpaceMono-Regular.css';

// vars
$color-black: #101010;
$color-white: #ffffff;
$color-smoke: #ECECEC;
$ff-mono: 'Space Mono', monospace;


// reset
*{
  outline: none;
}

::selection{
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-input-placeholder {
  color: $color-black;
}
::-moz-placeholder {
  color: $color-black;
}
:-ms-input-placeholder {
  color: $color-black;
}
:-moz-placeholder {
  color: $color-black;
}

html,
body{
  font-size:16px;
}

html{
  min-height: 100%;
}

html{
  color: $color-black;
  font-family: $ff-mono;
  -webkit-font-smoothing: antialiased;
}


// helpers
._ff-mono{
  font-family: $ff-mono;
  font-weight: 400;
}


// objects
._o-box{
  border-color: $color-smoke;
  display: inline-block;
  margin-bottom: -1px;
  margin-left: -1px;
  transition:all;
  will-change:transform;

  &:hover{
    transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 2em 0px rgba(223, 223, 223, 0.5);
    border-color:white;
    transform: scale(1.1);
    z-index: 1;
  }
}

// utils
._u-bgc-white{
  background-color:white;
}

._u-lh-0{
  line-height: 0;
}
